<%= render 'shared/page_title', title: capitalize_words('edit a recipe') %>

<% if @recipe.errors.any? %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title">
          <%= pluralize(@recipe.errors.count, 'error') %>
          prohibited this <%= @recipe.class %> from being saved:
        </h2>
        <div class="panel-body">
          <ul>
            <% @recipe.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<%= form_for(@recipe, :html => { class: 'form-horizontal', role: 'form' }) do |f| %>
  <div class='row'>
    <div class='col-md-12'>
      <div class='form-group'>
        <div class='control-label col-md-2'>
          <%= f.label :name %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :name, class: 'form-control', placeholder: 'Recipe name', autofocus: true %>
        </div>
      </div>

      <div class='form-group'>
        <div class="control-label col-md-2">
          <%= f.label :description %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :description, class: 'form-control', placeholder: 'Enter steps to create recipe', rows: 15 %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
          <%= f.submit class: 'btn btn-primary btn-lg btn-xlarge' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="col-md-10 col-md-offset-2 colormatch">
  [ <%= link_to "All Recipes", recipes_path %> ]
</div>
